*,
*::before,
*::after{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}
.name{
    width: 100%;
    font-size: 2rem;
    height: 20%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
      text-shadow: 1px 1px 2px black;
position: relative;
}
img{
object-fit: contain;
}
.clock-container{
    background-color: rgb(37, 31, 203);
    height: 75vh;
    display: flex;
    flex-direction: column;
    
}
.btns{
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(86, 86, 159);
    border-radius: 7px;
    padding: 10px 5px;
    box-shadow: 0px 0px 5px rgb(212, 210, 210);
    
}
.clock-interface{
    width: 500px;
    height: 50vh;
    margin: 0 auto;
    background-color: rgb(86, 86, 159);
    margin-top: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
.time{
    font-size: 7rem;
    font-weight: 600;
}
.clock-interface > *{
    margin-bottom: 20px;
}
#start-pause{
    background-color: white;
    color: rgb(37, 31, 203);
    padding: 7px;
    border-radius: 3px;

}
.prog-btn{
    transition: all .3s ease;
    padding: 5px 10px;
    border-radius: 3px;
}
.prog-btn.active{
    background-color: rgb(10, 10, 87);

}
.time-notice{
    letter-spacing: 1.5px;
}
.info-container h2{
    font-size: 2rem;
    color: rgb(19, 19, 140);
    margin-top: 3rem;
}
.info-container{
    color:rgb(23, 23, 99);
    margin: 2rem;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    margin: 0 auto;
}
#end-time{
    font-weight: 700;
    font-size: 1.2rem;
}
#steps-list{
    list-style-type: lower-roman;
}
.explanation{
    margin: 1.5rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}
.ruler{
    width: 200px;
    height: 5px;
    opacity: 0.5;
    background: linear-gradient(to left, red, yellow);
}
.explanation p, .explanation ul{
    margin: 1.5rem;
}
.explanation h3{
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

@media (max-width: 760px){
    .btns{
        width: 60%;
    }
}

@media (max-width: 620px){
    .btns{
        width: 80%;
    }
}